/* Section 1  */

.about-head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 8rem 10rem;
    background-color: #f2f5fe;
    position: relative;
}

.about-head-right h3 {
    font: normal bold 65px/1 "Montserrat ";
    text-transform: uppercase;
    margin-bottom: 8px;
}

.about-head-right h2 {
    font: normal bold 120px/1 "Montserrat";
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-head-right p {
    width: 590px;
    font: normal 17px/20px "Helvetica Neue";
    margin-bottom: 15px;
    color: #707070;
}

.head {
    width: 260px;
    position: absolute;
    bottom: 0;
    left: 21rem;
    z-index: 2;
}

.green {
    width: 220px;
    background-color: white;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.green-div {
    position: relative;
    margin-bottom: 125px;
}

.bgs {
    position: absolute;
    left: 40px;
    top: 30px;
    width: 130px;
}

/* Section 1 ENd */

/* Section 2  */

.about-sec-2 {
    justify-content: center;
    display: flex;
    width: 100%;
}


.about-section-two {
    display: flex;
    justify-content: space-between;
    gap: 14rem;
    padding: 7rem 0;
    margin: auto;
}

.school-left h3 {
    font: normal bold 45px/1 "Montserrat";
    text-transform: uppercase;
    margin-bottom: 24px;
}

.school-left p {
    width: 600px;
    font: normal 19px/24px "Helvetica Neue";
}

.green-div-two {
    position: relative;
}

.green-two {
    width: 240px;
    height: 150px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-img-div {
    margin-bottom: 4rem;
}

.yellow {
    position: absolute;
    width: 270px;
    top: -50px;
    right: -120px;
    z-index: -111;
}

/* Section 2 ENd */


/* section 3  */

.about-logo-section {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    margin: 5rem 0;
}

.logo-main {
    position: relative;
}

.logo-main-img {
    width: 680px;
}

.logo-body {
    position: absolute;
    bottom: 0;
    left: 45px;
    width: 620px;
}

.logo-circle {
    width: 150px;
    position: absolute;
    left: 278px;
    top: 90px;
}

/* section 3 End */


/* Section 4 */

.vision-mission-main {
    margin: 3rem 0;
    background-color: #171717;
    padding: 7rem 0;
}

.vision-mission-flex {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.flex-card {
    background-color: #212121;
    width: 250px;
    padding: 30px 20px;
    color: white;
    text-align: center;
}

.flex-card h4 {
    font: normal bold 25px/1 "Montserrat";
    margin-bottom: 15px;
    text-align: left !important;
}

.flex-card p {
    font: normal 15px/19px "Helvetica Neue";
    text-align: left !important;
    color: #b5b5b5;
}

.flex-card img {
    width: 100px;
    margin-bottom: 25px;
}

/* Section 4 End */