.schoolhouse {
    background-color: black;
    padding: 5rem 8rem;
}

.schoolhouse h1 {
    color: white;
    padding: 2rem 0;
}

.schoolhouse-card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    margin: auto;
}

.schoolhouse-cards {
    text-align: center;
    background-color: #292929;
    color: white;
    border-radius: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.schoolhouse-cards h2 {
    padding: 1rem 0;
    transform: translateZ(30px);
}

.schoolhouse-cards p {
    text-align: center;
    transform: translateZ(30px);
    padding: 1rem;
}

.schoolhouse-cards-grid-image {
    width: 200px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 1rem;
}

.schoolhouse-cards {
    transition: 1000ms all ease-in-out;
    position: relative;
    bottom: 0rem;
}

.schoolhouse-cards:nth-child(1):hover {
    background-color: #807E7E;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 3px 6px 20px #807e7ec9;
    bottom: 3rem;
}

.schoolhouse-cards:nth-child(2):hover {
    background-color: #2835B8;
    border: 1px solid rgba(0, 0, 0, 0.121);
    box-shadow: 3px 6px 20px #2835B8;
    bottom: 3rem;
}

.schoolhouse-cards:nth-child(3):hover {
    background-color: #B9DD34;
    border: 1px solid rgba(0, 0, 0, 0.121);
    box-shadow: 3px 6px 20px #B9DD34;
    bottom: 3rem;
}

.schoolhouse-cards:nth-child(4):hover {
    background-color: #FFED0F;
    border: 1px solid rgba(0, 0, 0, 0.121);
    box-shadow: 3px 6px 20px #FFED0F;
    bottom: 3rem;
    color: black;
}


@media (max-width:1400px) {
    .schoolhouse-cards {
        padding: 5rem 3rem;
    }
}


@media (max-width:1100px) {
    .schoolhouse-cards-card-container {
        grid-template-columns: auto auto;
    }
}


@media (max-width:768px) {
    .schoolhouse-cards-card-container {
        grid-template-columns: auto;
    }

    .schoolhouse-cards {
        padding: 1rem 1.5rem;
    }

    .schoolhouse-cards-cards:nth-child(2) {
        padding-top: 2rem;
    }

    .schoolhouse-cards-cards h2 {
        padding: 2rem 0 1rem 0;
    }

}