.studentlife-container-top {
    background-color: #2CBDB0;
    padding: 5rem 15rem;
}

.studentlife-container-top-div1 h1 {
    text-transform: uppercase;
    font: normal bold 100px 'Poppins';
    color: white;
}

.studentlife-container-top-div1 p {
    max-width: 750px;
    text-align: justify;
    color: white;
}

.studentlife-container-top-div2 ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.studentlife-container-top-div2 ul li {
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    cursor: pointer;
}

.studentlife-container-top-div2 ul li h2 {
    font: normal bold 50px 'Poppins';
    transform: translateZ(20px)
}

.studentlife-container-top-div2 ul li p {
    transform: translateZ(20px)
}

.studentlife-container-top-div2 ul li:hover {
    border: 2px solid #058d8161;
    box-shadow: 20px 20px 20px #2cbdb183;
}


/* Section 2 Grid  */


/* Section 2 Grid End*/



/* Sec - 3 */

.student-life-sec-3-container {
    background: linear-gradient(to right, black 65%, white 35%);
    width: 100%;
    position: relative;
    display: flex;
}

.student-life-sec-3-container-left {
    color: white;
    padding: 5rem 8rem;
}

.student-life-sec-3-container-left p {
    color: rgba(255, 255, 255, 0.326);
    max-width: 600px;
}

.student-life-sec-3-container-left h1 {
    font: normal bold 60px 'Poppins';
    padding-bottom: 1rem;
}

.student-life-sec-3-container .shadow {
    height: 45vh;
    max-width: 200px;
    position: absolute;
    left: 65% !important;
    bottom: 0;
    display: flex;
}

.StudentAvatar {
    max-height: 50vh;
    max-width: 300px;
    z-index: 20;
    position: absolute;
    left: 55%;
    bottom: 0%;
}


/* Sec - 3 End */


/* Student grid */

.student-council-image-gallery-title {
    font: normal bold 60px 'Poppins';
    padding-top: 5rem;
    /* color: #130E3D; */
    background: linear-gradient(to right, #130E3D, #281B87);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.student-council-image-gallery-grid {
    width: 90%;
    margin: auto;
}

/* Student grid End */

/* Student Club */

.student-club-conatiner {
    background-color: #000000;
    padding: 5rem 4rem;
}

.student-club-conatiner-title {
    color: white;
    font: normal bold 60px 'Poppins';
    padding: 2rem;
}

.student-club-content {
    max-width: 1200px;
    margin: auto;
    color: white;
    text-align: center;
}

.student-club-content p {
    color: rgba(255, 255, 255, 0.326);
}

/* Student Club ENd */

/* Sec4  */

.student-life-sec-4-container {
    padding: 10rem 10rem;
}

.student-life-sec-4-container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin: auto;
    width: 100%;
}

.student-life-sec-4-container-grid-card {
    background-color: #2CBDB0;
    padding: 2rem 2rem 1rem 2rem;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.238);
    border-radius: 20px;
    cursor: pointer;
    transform-style: preserve-3d;
}

.student-life-sec-4-container-grid-card h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.student-life-sec-4-container-grid-card-img {
    border-radius: 10px !important;
    max-width: 500px;
}

.student-life-sec-4-container-grid-card h1,
.student-life-sec-4-container-grid-card p {
    transform: translateZ(20px);
}

/* Sec4 End */


/* Sec5  */
.student-life-sec-5-container {
    padding: 10rem 10rem;
    background-color: #171717;
}

.student-life-sec-5-container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.student-life-sec-5-container-grid-card {
    background-color: #292929;
    padding: 2rem 2rem 1rem 2rem;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.238);
    border-radius: 20px;
    cursor: pointer;
}

.student-life-sec-5-container-grid-card:hover {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.student-life-sec-5-container-grid-card:hover h1,
.student-life-sec-5-container-grid-card:hover p {
    transform: translateZ(30px);
}


.student-life-sec-5-container-grid-card h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Sec5 End */

/* Sec6  */

.student-life-sec-6-container {
    padding: 10rem;
}

.student-life-sec-6-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.student-life-sec-6-content h1 {
    font: normal bold 70px "Poppins";
    padding: 20px 0;
}

/* Sec6 End */

@media (max-width:1400px) {

    .student-life-sec-4-container,
    .student-life-sec-5-container {
        padding: 5rem 2rem;
    }
}

@media (max-width:1200px) {

    .student-life-sec-4-container-grid,
    .student-life-sec-5-container-grid {
        grid-template-columns: auto auto auto;
    }
}


@media (max-width:1100px) {
    .studentlife-container-top {
        padding: 5rem;
    }
}


@media (max-width:768px) {
    .studentlife-container-top-div1 h1 {
        font: normal bold 60px 'Poppins';
    }

    .studentlife-container-top-div2 ul {
        justify-content: space-evenly;
        grid-template-columns: auto auto;
        margin-top: 2rem;
        gap: 1rem;
    }

    .student-life-sec-3-container-left {
        color: white;
        padding: 2rem 2rem;
    }

    .student-life-sec-4-container-grid,
    .student-life-sec-5-container-grid {
        grid-template-columns: auto auto;
    }

    .student-council-image-gallery-title {
        padding-top: 2rem;
        text-align: center;
    }

    .student-club-conatiner {
        padding: 2rem;
    }
    .studentlife-council {
        padding: 0rem;
    }
}

@media (max-width:500px) {
    .studentlife-container-top {
        padding: 2rem;
    }

    .studentlife-container-top-div1 h1 {
        font: normal bold 50px 'Poppins';
    }

    .student-life-sec-4-container-grid,
    .student-life-sec-5-container-grid {
        grid-template-columns: auto;
    }


}